/* in app/globals.css */
@import "tailwindcss";

@layer components {
  .title-banner {
    /* CHECK THAT */
    @apply absolute top-8 left-0 bg-red-700 text-white font-bold uppercase tracking-widest py-2 px-6 shadow-lg;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%)
  }

  .content-block {
    @apply bg-black/70 border border-gray-800 rounded-lg p-6 backdrop-blur-sm relative pt-12;
  }

  .content-block-speaker {
    @apply absolute top-0 left-4 bg-gray-800 text-red-400 font-semibold text-sm py-1 px-4 rounded-b-md;
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

html {
  background-color: var(--background);
  /*scroll-behavior: smooth;*/
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

#smooth-wrapper {
  /*overscroll-behavior: none;*/
  position: relative;
  width: 100%;
}
